<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是url_for函数学习网页</title>
    <!--    /* 导入css文件的 */-->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <style>
<!--        /* 添加样式，将图片居中显示 */-->
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
<!--/* 使用url_for函数生成图片的路径，并将其作为src属性添加到img标签中 */-->
<img src="{{ url_for('static', filename = 'image/shutong1.jpg') }}" alt="">

<!-- 导入js文件的 -->
<script src = "{{ url_for('static', filename = 'js/json.js') }}">

</script>

</body>
</html>
